/* ---------------------------------------------------
    Restyle
----------------------------------------------------- */
body {
    height: 100%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #334;
    text-align:center;
}

input {
    outline: none;
    border: none;
}
input:focus{
    border: none;
    box-shadow: none !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #999999;}
input:-moz-placeholder {color: #999999;}
input::-moz-placeholder {color: #999999;}
input:-ms-input-placeholder {color: #999999;}

label {
    display: block;
    margin: 5px;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

/* ---------------------------------------------------
    nav.blade.php custom style
----------------------------------------------------- */

.navbar{
    background: url('./images/footer-bg.svg');
}
.nav-link{
    font-size: 18px;
    border-bottom: 1px solid white !important;
}

.nav-link:hover{
    color:rgb(255, 145, 0) !important;
    border-bottom: 1px solid #ff8b3d !important;
}

/* ---------------------------------------------------
    footer.blade.php custom style
----------------------------------------------------- */

footer.footer {
    background: url('./images/footer-bg.svg');
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    bottom: 0;
    height: 140px;
  }

.footer-link{
    color:#555c63;
}

.footer-link:hover{
    color:orange;
}

.footer-img{
    border-bottom: solid white;
}

.footer-img:hover{
    border-bottom: solid orange;
}

/* ---------------------------------------------------
   sidebar.blade.php/adminsidebar.blade.php custom style
----------------------------------------------------- */

#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #wrapper #content-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 80px;
  }

  @media(max-width: 768px){

  #adminid{
      display: none;
  }

  #profilepic{
      width: 30px;
      height: 30px;
      margin:5px;
  }

  }

  .smaller {
    font-size: 0.7rem;
  }

  .sidebar {
    width: 90px !important;
    background-color: #ffffff;
    min-height: calc(100vh - 80px);
  }

  .sidebar .nav-item{
      height: 50px;
  }

  .sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
    color:#343a40;
    border:none !important;
  }

  .sidebar .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }

  .sidebar .nav-item .nav-link {
    color: grey;
  }

  .sidebar .nav-item .nav-link:active,
  .sidebar .nav-item .nav-link:focus,
  .sidebar .nav-item .nav-link:hover {
    background-color: #ffd0a0;
    border:none !important;
    color:#343a40 !important;
  }

  .sidebar .nav-item .nav-link.active{
      background-color: #ffb970;
      color:black;
  }

  @media (min-width: 768px) {

  .container{
      padding-top: 5%;
      padding-left: 8%;
  }
    .sidebar {
      width: 220px !important;
    }
    .sidebar .nav-item .nav-link {
      display: block;
      width: 100%;
      text-align: left;
      padding: 0.5rem 1rem;
      width: 220px;
    }
    .sidebar .nav-item .nav-link span {
      font-size: 1rem;
      display: inline;
    }
  }

  .card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: 0.5rem;
    opacity: 0.4;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

/* ---------------------------------------------------
    welcome.blade.php custom style
----------------------------------------------------- */

.container-video{
    width: 100%;
    height: 100%;
    position: relative;
}

#bg-video {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.overlay-video {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 0;
    padding:0.4em;
    margin:0;

    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;
}
#gotonext{
    margin-top:160px;
}

@media (max-width: 768px) {
    .overlay-video {
        width: 100%;
        position: absolute;
        top: 10%;
        left: 0;
        padding:0.4em;
        margin:0;
    }

    #welcome-btn,#gotonext{
        display:none;
    }
  }

  #backtotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    padding: 15px;
  }

.showcase .showcase-text {
    padding: 3rem;
  }

  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }

  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }

  .call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("./images/parkinglot.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }


/* ---------------------------------------------------
    login.blade.php custom style
---------------------------------------------*/

.container-login {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: url('./images/userlogin.jpg');
}

.forgetpwd {
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
    margin-left: 10%;
}

.wrap-login {
    width: 600px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

/*---- Title ----*/
.login-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-image: url(./images/userlogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 70px 15px 74px 15px;
  }

.login-form-title-1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.login-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.7);
}


 /*---- Form ----*/
.login-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 20px 190px;
}

  /*---- Input ----*/
.input{
    margin-top: 15px;
    border:0 !important;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    margin-top:10px;
}

.label-input {
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    text-align: right;

    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px;

    padding-top:10px;

}

.label-input {
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    text-align: right;

    position: absolute;
    top: 14px;
    left: -145px;
    width: 130px;

}

.input {
    font-size: 15px;
    color: #555555;
    line-height: 1.2;

    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
}

/*---- Focus Input ----*/
.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;

    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;

    background: #ff8b3d;
}


.focus-input::after {
    font-size: 18px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  input.input {
    height: 35px;
  }

  input.login {
    height: 45px;
  }

  .input:focus + .focus-input::after {
    top: -20px;
    font-size: 15px;
  }

  .input:focus + .focus-input::before {
    width: 100%;
  }

  .has-val.input + .focus-input::after {
    top: -20px;
    font-size: 15px;
  }

  .has-val.input + .focus-input::before {
    width: 100%;
  }

  /*---- Restyle Checkbox ----*/

  .input-checkbox {
    display: none;
  }

  .label-checkbox {
    font-size: 14px;
    color: #999999;
    line-height: 1.4;

    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
  }

  .label-checkbox::before {
    content:"O";
    font-size: 16px;
    color: transparent;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #e6e6e6;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .input-checkbox:checked + .label-checkbox::before {
    color: #ff8d41;
  }

  /*---- Button ----*/
  .container-login-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin:20px;
  }

  .login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #ff9d41;

    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .login-form-btn:hover {
    background-color: #333333;
  }


  /*---- Responsive ----*/

  @media (max-width: 576px) {
    .login-form {
      padding: 43px 15px 20px 117px;
    }
  }

  @media (max-width: 480px) {
    .login-form {
      padding: 43px 15px 20px 15px;
    }

    .label-input {
      text-align: left;
      position: unset;
      top: unset;
      left: unset;
      width: 100%;
      padding: 0px 5px;
    }
    .modal-lg {
        width: 90%;
        width:1200px;
      }
  }


  /*---- Alert validate ----*/
  .validate-input {
    position: relative;
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;

    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }

  .alert-validate::after {
    content: "!";
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;

  }

.invalid-feedback{

        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 0.5s;
        /* When the animation is finished, start again */
        animation-iteration-count: initial;

}

  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }

  .noaccount {
    font-size: 15px;
    color: #999999;
    line-height: 1.5;
  }

  .tosignup {
    font-size: 15px;
    color:rgb(255, 130, 58);
    line-height: 1.5;
  }


/* --------------------------------------------
    register.blade.php custom style
---------------------------------------------*/

.container-register {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background:url('./images/userregister.jpg');
}

.wrap-register {
    width: 600px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

  /*---- Title ----*/
.register-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-image: url(./images/userregister.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 70px 15px 74px 15px;
}

.register-form-title-1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.register-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.7);
  }

 /*---- Form ----*/
.register-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:30px 88px 20px 190px;
}

input.register {
    height: 45px;
}

  /*----Register Button ----*/
.container-register-form-btn {
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

  .register-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #ff9d41;

    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.register-form-btn:hover {
    background-color: #333333;
}

#termslink{
    color:rgb(255, 179, 58);
    line-height: 1.5;
}

@media (max-width: 576px) {
    .register-form {
        padding: 30px 15px 20px 117px;
    }

    .container-register-form-btn {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .register-form {
      padding: 30px 15px 20px 15px;
    }

    .container-register-form-btn {
        width: 100%;
    }
}


/* --------------------------------------------
    email.blade.php reset.blade.php custom style
---------------------------------------------*/

.container-reset {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background:url('./images/resetpwd.jpg');
}

.wrap-reset {
    width: 600px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

  /*---- Title ----*/
.reset-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-image: url(./images/resetpwd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 70px 15px 74px 15px;
}

.reset-form-title-1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.reset-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.7);
  }

 /*---- Form ----*/
.reset-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:30px 88px 50px 190px;
}

input.reset {
    height: 45px;
}

  /*----Reset Button ----*/
.container-reset-form-btn {
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

  .reset-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #ff9d41;

    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.reset-form-btn:hover {
    background-color: #333333;
}


@media (max-width: 576px) {
    .reset-form {
        padding: 30px 15px 20px 117px;
    }

    .container-reset-form-btn {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .reset-form {
      padding: 30px 15px 20px 15px;
    }

    .container-reset-form-btn {
        width: 100%;
    }
}

/* ---------------------------------------------------
    faq.blade.php custom style
----------------------------------------------------- */

header.faq-masthead {
    margin-bottom: 10px;
    background: no-repeat center center;
    background-color: #ff822e;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    padding: 80px 0;
    color: white;
    text-align: center;

}

header.faq-masthead h1 {
    font-size: 48px;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    header.faq-masthead h1{
      font-size: 24px;
    }
    #about h3{
        font-size: 18px;
    }
}

#about h3::first-letter,
#team p::first-letter,
#feedback p::first-letter
{
    font-size: 200%;
}

.faq-part{
    margin-top: 40px;
    margin-bottom: 40px;
}

.faq-question{
    color:#ff9d41;
}

.faq-answer{
    text-align: justify;
}

  /* ---------------------------------------------------
    /Messenger custom style
----------------------------------------------------- */

  .wrap-createmsg {
    width: 640px;
    background: #fff;
    position: relative;
  }

  .createmsg-form {
    width: 100%;
  }

  .createmsg-form-title {
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;

    width: 100%;
    display: block;
  }

  .wrap-message {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
  }


  .message {
    color: #555555;
    line-height: 1.2;
    font-size: 18px;

    display: block;
    width: 100%;
    background: transparent;
    height: 55px;
    padding: 0 25px 0 25px;
  }


  .focus-message {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #ff943c;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
  }

  .message:focus + .focus-message {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .eff-focus-selection {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .message-label {
    font-size: 13px;
    color: #555555;
    line-height: 1.4;
    text-transform: uppercase;
  }

  .btn-show-pass {
    font-size: 15px;
    color: #999999;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 12px;
    padding: 0 5px;
    cursor: pointer;
    -webkit-transition: background 0.4s;
    -o-transition: background 0.4s;
    -moz-transition: background 0.4s;
    transition: background 0.4s;
  }

  .btn-show-pass:hover {
    color: #ff8b48;
  }

  .btn-show-pass.active {
    color: #ff8b48;
  }

  .container-createmsg-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .createmsg-form-btn {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 55px;
    background-color: #ff7a2d;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .createmsg-form-btn:hover {
    background-color: #333333;
  }
  @media(max-width: 768px){
    .wrap-createmsg {
        padding-left: 15px;
        padding-right: 15px;
        width: 500px;
      }
  }
  @media (max-width: 576px) {
    .wrap-createmsg {
      padding-left: 15px;
      padding-right: 15px;
      width:300px;
    }

    .createmsg-form-title{
        font-size: 20px;
    }
  }

  .showMessage{
    justify-content:center;
  }

    #msgContent{
        width: 60%;
        text-align: justify;
        align-content: center;
    }
  #replyMsg{
    width: 60%;
    align-content: center;
  }
  #thread{
    color: #46423f;
  }

  #thread:hover{
    color: #ff822e;
  }

  /* ---------------------------------------------------
    Referal custom style
----------------------------------------------------- */

.referral {
    position: absolute;
    width: 60%;
    height: 300px;
    border-width: 8px;
    border-style: solid;
    border-color: grey;
    border-image: initial;
    margin: 0px 18%;
    }



main{
    margin-top:6px;
}
.container-profile{
    
    margin-left: 100px;
}