
body {
    background-image: url("images/bgpic.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", "Helvetica Neue", Roboto, "Droid Sans", Prelude, Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #334;
    text-align:center;
}

/* ---------------------------------------------------
    welcome.blade.php custom style
----------------------------------------------------- */

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    padding: 10px;
    font-size: 56px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    height: 40px;

}


#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    height: 600px;
    width: 100%;
    object-fit: fill;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.151);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* ---------------------------------------------------
    footer.blade.php custom style
----------------------------------------------------- */

footer {
    background-color:white;
    align-content: center;
    text-decoration:none;
    padding-top: 3%;
    font-family: "Nunito",sans-serif;
    margin-top: 3%;
}

.footer-link:hover,
.footer-link:active{
    color:#ff9100;
    text-decoration: underline;
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

 .sidebar {
    position: initial;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 54px; /* Height of navbar */
    height: calc(100vh - 54px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }

  .sidebar .nav-item.active {
    background-color:orange;
  }

  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  .sidebar .nav-item:hover,
  .sidebar .nav-item:active {
      background-color: #ff9100;
  }


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    login.blade.php custom style
----------------------------------------------------- */
.btn-login,
.btn-register{
    color: #000000;
    background-color: #FFCC00;
    border: none;
    border-radius: 6px;
    width: 210px;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-register:hover,
.btn-register:focus,
.btn-register:active {
color: #000000;
background-color: #FFC400;
}

.forgetpwd{
    color: black;
    font-size: 14px;
}

.forgetpwd:hover,
.forgetpwd:active,
.forgetpwd:focus{
    color:#ff9100;
    text-decoration: underline;
}

.signup,
#terms{
    color: #ff9100;
}

.signup:hover,
.signup:active,
#terms:hover,
#terms:active,
#terms:focus{
    color: #ff9100;
    text-decoration: underline;
}

