a{
	text-decoration: none;
	color: #000;
}

.txtBox1{
	font-size: 36px;
	height: 100px;
	width: 768px;
	position: absolute;
	top: 17%;
	left: 22%;
	text-align: center;
}

.txtBox2{
	font-size: 22.5px;
	height: 30px;
	width: 768px;
	position: absolute;
	top: 31%;
	left: 22%;

	text-align: center;
}

.imgBox{
	height: 393.75px;
	position: absolute;
	top: 37%;
	left: 30%;
	background: #c4c4c4;
	padding: 11.25px 11.25px;
	border-radius: 11.25px;
}

.imgBox img{
	width: 525px;
	border-radius: 11.25px;

}

.imgBox input{
	border-radius: 6px;
	width: 50%;
	height: 35px;
	border: 0;
	background: #dddddd;
	outline: none;
	margin: 15px 0;
}

.imgBox p a{
	text-decoration: underline;
	color: #fc9e02;
}

footer{
	margin-bottom: 0px;
	position: absolute;
	width: 100%;
	bottom: -135px;
	text-align: center;
	padding: 10px 0;
	background: #ddd;
}

footer a{
	padding: 0 2%;
	font-size: 17px;
	background: #fff;
}

.copy{
	font-size: 14px;
	margin-top: 51.5px;
	background: #CCC;
}
